.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0px;
  color: white;
  font-size: 20px;
  font-family: "Calibri", "Calibri";
}

.questions {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  color: white;
  font-size: 30px;
  font-family: "Helvetica";
  font-weight: bold;

  margin-top:200px;
}


.cockpit {
  /* The image used */
  background-image: url(../img/CockpitBlank.jpg);

  min-height: 100%;
  min-width: 1024px;

  /* Full height */
  height: auto;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/* .textblockOld {
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
} */

.textblock {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 500px;
  height: 600px;
}

textarea {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid orange;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
}



/* Additional styles below */
span.center {
  display: table;
  margin: 0 auto;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
  position: relative;
}

span.centerTwo {
  display: table;
  margin: 0 auto;
  padding-top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.centerThree {
  display: table;
  margin: 0 auto;
}

img.introImg {
  width: 400px;
  height: auto;
  border: 10px solid white;
}

img.introImg2 {
  width: 200px;
  height: auto;
  border: 5px solid white;
}

img.introImgTwo {
  width: 300px;
  height: auto;
  border: 10px solid white;
}

img.introImgTwo2 {
  width: 50px;
  height: auto;
}
img.introImgTwo3 {
  width: 200px;
  height: auto;
}

.elementsize {
  width: 30vh;
  height: auto;
  position: relative;
}

.overlay {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 40%;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: .3s ease;
  background-color: transparent;
}

.overlaytext {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 1%;
  right: 0;
  pointer-events: none;
  color: white;
  font-size: 40px;
  font-family: "Calibri", "Calibri";
}

.overlaybar{
  height: 100%;
  width: 1024px;

  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */

  position: absolute;
}

.overlaybarsecond{
  height: 100%;
  width: 1024px;

  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */

  position: absolute;
}

.container_1 {
        width: 300px;
        height: 100px;
      }

.right {  float: right;
  height: auto;
  margin: 0px;
  color: white;
  font-size: 50px;
  font-family: "Calibri", "Calibri";
}

.left {float: left;
  height: auto;
  margin: 0px;
  color: white;
  font-size: 50px;
  font-family: "Calibri", "Calibri";
}
